body {
  background: linear-gradient(to bottom, #1E90FF, #87CEFA);
}

.leftmenu{
  float: left;
}

.rightmenu{
  float: right;
}

.menu{
  font-weight: bold;
  float: left;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color:  rgb(123,146,172);
  
  li {
    float: left;
  }
  a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  a:hover {
      background-color: #444;
  }
}
  