{% extends "base.html" %}
{% block title %}
<title>Sign-in</title>
{% endblock title%}

{% block content %}
<style>
    .form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

</style>
<section>
    <!-- <h2>Log In</h2> -->
    <!-- Login form -->
    <form method="post">
        <!-- Security token -->
        {% csrf_token %}
        <!-- Using the formset -->
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    <br><br><br><br>
    <h3>Don't have an account?</h3>
    <button onclick="location.href='/accounts/signup'">Register</button>
</section>
{% endblock content %}