{% extends 'base.html' %}
{% block title %}
<title>Nutrition</title>
{% endblock title%}

{% block content %}
<h1>Nutrition</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit, nisi eu pretium sodales, diam lectus cursus nibh, quis semper tortor diam rutrum tellus. Fusce viverra urna in odio accumsan consequat. Pellentesque finibus augue sed maximus convallis. Morbi neque est, bibendum in arcu at, blandit faucibus est. Nullam finibus nisi fermentum ex tincidunt euismod. Nullam vestibulum ultrices turpis, quis ornare nibh vulputate vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus congue egestas efficitur. Pellentesque velit velit, fringilla sit amet volutpat a, vehicula eget libero.</p>
    <ul>
    <li> <a href="{% url 'search' %}">Search Nutritional Values</a> </li>
</ul>
{% endblock content %}