{% extends 'base.html' %}

{% block title %}
<title>Search</title>
{% endblock title%}

{% block content %}
<section>

<h1>Nutrition Search</h1>
<p>Enter a natural language query into the box, to search for nutritional values.</p>
<form method="post" action="{% url 'search' %}">
    {% csrf_token %}
    <input type="text" name="query">
    <button type="submit">Search</button>
</form>
<br><p><small>Note: All data is provided by the NutritionIX database. We cannot accept any responsibility for data inaccuracies, nor guarantee every food type/brand exists in the database.</small></p>
    
</section>
{% endblock content %}