<!--<ul class="menu">
    <span class="leftmenu">
        <li> <a href="{% url 'home' %}">HEALTH OASIS </a> </li>
    </span>

    <span class="rightmenu">
        {% if user.is_authenticated %}
        <li> <a href="">{{ user.username }}</a> </li>
        <li> <a href="{% url 'nutrition' %}">Nutrition</a> </li>
        <li> <a href="{% url 'chat_index' %}">Chat</a> </li>
        <li> <a href="{% url 'workouts' %}">Workouts</a> </li>
        <li> <a href="{% url 'progress' %}">Progress</a> </li>
        <li> <a href="{% url 'logout' %}">Logout</a> </li>
        {% else %}
        <li> <a href="{% url 'signup_user' %}">Sign up</a> </li>
        <li> <a href="{% url 'login' %}">Login</a> </li>
        {% endif%}
    </span>       
</ul> -->

<style>
    mark{
        color: rgb(238, 238, 241);
        background-color: rgba(146, 163, 163, 0.13);
    }
    .menu .leftmenu a {
      font-family: "Times New Roman", serif;
      font-size: 30px;
      position: absolute;
      bottom: 30px
      
      font-weight: bold;
      color: #191964; /* dark blue */
    }
    .menu .rightmenu a {
      position: absolute;
      bottom: 600px;
      left: 75%;
    }
    .menu {
      height: 100px;
    }
  </style>
  
  <ul class="menu">
    <span class="leftmenu">
      <li>
        <a href="{% url 'home' %}">
          <span>HEALTH</span> <span><mark>OASIS</mark></span>
        </a>
      </li>
    </span>

    <span class="rightmenu">
      {% if user.is_authenticated %}
      <li> <a href="">{{ user.username }}</a> </li>
      <li> <a href="{% url 'logout' %}">Logout</a> </li>
      {% else %}
      <li> <a href="{% url 'signup_user' %}">Sign up</a> </li>
      <li> <a href="{% url 'login' %}">Login</a> </li>
      {% endif%}
    </span>       
  </ul>
  