{% extends 'base.html' %}

{% block title %}
<title>Chat - {{ room_name }}</title>
{% endblock title %}

{% block content%}
<style> 
#chat-log {
  padding: 10px;
}

input[type="text"],
input[type="button"],
input[type="hidden"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
#chat-log {
  width: 100%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  overflow-y: scroll;
  opacity: 0.9;
}

#chat-message-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#chat-message-submit {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#room_name {
  display: none;
}

form {
  display: flex;
  flex-wrap: wrap;
}

#chat-message-input {
  flex: 1;
  margin-right: 10px;
  width: 50%;
}

#chat-message-submit {
  flex: 0 0 auto;
}

form input[type="button"] {
  flex: 0;
  width: auto;
}
</style>
<section>
 <h1>{{ room_name }}</h1>
 <p>This is an un-moderated channel for {{ room_name }}. Please be respectful of other users.</p>
 <textarea id="chat-log" cols="50" rows="20" readonly="true"></textarea><br><br>
 <input id="chat-message-input" type="text" size="50" placeholder="Your message here">
 <input id="chat-message-submit" type="button" value="Send">
 <input type="hidden" id="room_name" value="{{room_name}}">
 </section>
 {% block jsincludes %}
 <script>
 $( document ).ready(function() {
     const roomName =document.getElementById('room_name').value;
     const chatSocket = new WebSocket(
     'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
     );
     chatSocket.onmessage = function(e) {
         const data = JSON.parse(e.data);
         document.querySelector('#chat-log').value += (data.message + '\n');
     };
     chatSocket.onclose = function(e) {
         console.error('Chat socket closed unexpectedly');
     };
     document.querySelector('#chat-message-input').focus();
     document.querySelector('#chat-message-input').onkeyup = function(e) {
         if (e.keyCode === 13) { // enter, return
             document.querySelector('#chat-message-submit').click();
         }
     };
     document.querySelector('#chat-message-submit').onclick = function(e) {
         const messageInputDom = document.querySelector('#chat-message-input');
         const message = messageInputDom.value;
         chatSocket.send(JSON.stringify({
             'message': message
         }));
         messageInputDom.value = '';
     };
 });
 </script>
 {% endblock jsincludes %}
{% endblock content%}

