{% extends 'base.html' %}
{% block title %}
<title>Edit Workout</title>
{% endblock title%}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Edit Workout</title>
</head>
<body>
<h1>Edit Workout</h1>
<form method="post">
{% csrf_token %}
<label for="name">Name:</label>
<input type="text" name="name" value="{{ workout.name }}" required><br>
<label for="description">Description:</label>
<textarea name="description" required>{{ workout.description }}</textarea><br>
<label for="user">User:</label>
<select name="user" required>
{% for user in users %}
<option value="{{ user.id }}" {% if user.id == workout.user.id %}selected{% endif %}>{{ user.username }}</option>
{% endfor %}
</select><br>
<label for="date">Date:</label>
<input type="date" name="date" value="{{ workout.date }}" required><br>
<label for="duration">Duration:</label>
<input type="number" name="duration" value="{{ workout.duration }}" required><br>
<input type="submit" value="Update Workout">
</form>
</body>
</html>
{% endblock content %}